/* Inicio de lo que estoy purgando */

/* Responsive logic */

@media screen and (min-width: 388.02px) {
  .WizybotShopifyWidget__outter__open__right {
    width: 100vw;
  }

  .WizybotShopifyWidget__outter__open__left {
    width: 100vw;
  }

  .WizybotShopifyWidget__outter__close {
    width: 100vw;
  }

  .WizybotShopifyWidget__send__button__outter {
    right: 5px;
  }

  .WizybotShopifyWidget__chat__outter {
    height: calc(100vh - 260px);
  }

  .WizybotShopifyWidget__emojis__propaganda__outter {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .WizybotShopifyWidget__email__requirement__outter__open {
    width: 100vw;
    height: calc(100vh - 150px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .WizybotShopifyWidget__cart__outter__close {
    width: 100vw;
    height: 0px;
  }

  .WizybotShopifyWidget__cart__outter__open {
    width: 100vw;
    height: calc(100vh - 150px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .WizybotShopifyWidget__cart__outter__products {
    width: 100vw;
  }
}

@media screen and (min-width: 387.5px) and (max-width: 388px) {
  .WizybotShopifyWidget__outter__open__right {
    width: calc(100vw - 15px);
  }

  .WizybotShopifyWidget__outter__open__left {
    width: calc(100vw - 15px);
  }

  .WizybotShopifyWidget__outter__close {
    width: calc(100vw - 15px);
  }

  .WizybotShopifyWidget__send__button__outter {
    right: -15px;
  }

  .WizybotShopifyWidget__chat__outter {
    height: min(330px, 100vh - 260px);
  }

  .WizybotShopifyWidget__emojis__propaganda__outter {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .WizybotShopifyWidget__email__requirement__outter__open {
    width: calc(100vw - 15px);
    height: min(430px, 100vh - 150px);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .WizybotShopifyWidget__cart__outter__close {
    width: calc(100vw - 15px);
    height: 0px;
  }

  .WizybotShopifyWidget__cart__outter__open {
    width: calc(100vw - 15px);
    height: min(440px, 100vh - 150px);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .WizybotShopifyWidget__cart__outter__products {
    width: calc(100vw - 15px);
  }
}

@media screen and (max-width: 387.48px) {
  .WizybotShopifyWidget__outter__open__right {
    width: 100vw;
  }

  .WizybotShopifyWidget__outter__open__left {
    width: 100vw;
  }

  .WizybotShopifyWidget__outter__close {
    width: 100vw;
  }

  .WizybotShopifyWidget__send__button__outter {
    right: 5px;
  }

  .WizybotShopifyWidget__chat__outter {
    height: calc(100vh - 260px);
  }

  .WizybotShopifyWidget__emojis__propaganda__outter {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .WizybotShopifyWidget__email__requirement__outter__open {
    width: 100vw;
    height: calc(100vh - 150px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .WizybotShopifyWidget__cart__outter__close {
    width: 100vw;
    height: 0px;
  }

  .WizybotShopifyWidget__cart__outter__open {
    width: 100vw;
    height: calc(100vh - 150px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .WizybotShopifyWidget__cart__outter__products {
    width: 100vw;
  }
}

/* General iframe attributtes */

body {
  margin: 0px;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* General widget clasess */

.WizybotShopifyWidget__open__button__outter {
  position: absolute;
  height: 60px;
  width: 60px;
  margin: 10px;
  z-index: 10;
  letter-spacing: -0.05px;
  transition: opacity 0.8s;
}

.WizybotShopifyWidget__open__button__inner {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 11;
}

.WizybotShopifyWidget__open__button__notification {
  position: absolute;
  background-color: red;
  border-radius: 100%;
  color: white;
  font-weight: 800;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: 0;
  left: 0;
  transform: translate(-10%, -10%);
}

.WizybotShopifyWidget__open__button__image {
  position: absolute;
  top: 50%;
  left: 52%;
  width: 30px;
  height: 30px;
  scale: 1;
  transform: translate(-50%, -50%);
}

.WizybotShopifyWidget__new__visible__message__outter {
  position: absolute;
  text-align: center;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  background-color: #f5f7f9;
  box-shadow: rgba(0, 27, 71, 0.12) 0px 2px 6px;
  opacity: 0;
}

.WisybotShopifyWidget__new__visible__message__inner {
  position: absolute;
  width: 140px;
  text-align: center;
  max-height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.WizybotShopifyWidget__outter__outter {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  letter-spacing: -0.05px;
}

.WizybotShopifyWidget__outter__open__left {
  position: absolute;
  height: 100vh;
  color: white;
  z-index: 10;
  overflow: hidden;
  padding-right: 15px;
  transition: height 0.8s;
  bottom: 0px;
  box-shadow:
    0px 8px 10px rgba(0, 0, 0, 0.1),
    -10px 8px 15px rgba(0, 0, 0, 0.1),
    10px 8px 15px rgba(0, 0, 0, 0.1);
}

.WizybotShopifyWidget__outter__open__right {
  position: absolute;
  height: 100vh;
  color: white;
  z-index: 10;
  overflow: hidden;
  transition: height 0.8s;
  padding-right: 15px;
  bottom: 0px;
  box-shadow:
    0px 8px 10px rgba(0, 0, 0, 0.1),
    -10px 8px 15px rgba(0, 0, 0, 0.1),
    10px 8px 15px rgba(0, 0, 0, 0.1);
}

.WizybotShopifyWidget__outter__close {
  position: absolute;
  height: 0px;
  color: white;
  z-index: 10;
  overflow: hidden;
  transition: height 0.8s;
  padding-right: 15px;
  bottom: 0px;
}

.ChanTest__send__button__outter {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 11;
  right: -15px;
}

.WizybotShopifyWidget__header {
  position: relative;
  width: 100%;
  height: 150px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.WizybotShopifyWidget__header__inner {
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 30px;
}

.WizybotShopifyWidget__header__inner__inner {
  position: relative;
  width: 85%;
  left: 7.5%;
  display: grid;
  grid-template-columns: 80% 20%;
}

.WizybotShopifyWidget__header__picture__name {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 50px calc(100% - 50px);
}

.WizybotShopifyWidget__header__profile__image {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.WizybotShopifyWidget__header__name__outter {
  position: relative;
  margin-left: 15px;
}

.WizybotShopifyWidget__header__chat__with {
  position: relative;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.WizybotShopifyWidget__header__agent__name {
  position: relative;
  width: 100%;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}

.WizybotShopifyWidget__header__close__arrow__outter {
  position: relative;
  width: 100%;
  height: 100%;
}

.WizybotShopifyWidget__header__close__arrow__image {
  position: absolute;
  color: white;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  cursor: pointer;
}

.WizybotShopifyWidget__header__options__dots__image {
  position: absolute;
  color: white;
  top: 48%;
  left: 0%;
  transform: translate(0%, -50%);
  cursor: pointer;
}

.WizybotShopifyWidget__online__phrase__outter {
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 50px;
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 30px calc(100% - 30px);
}

.WizybotShopifyWidget__online__dot__outter {
  position: relative;
  height: 40px;
  width: 30px;
}

.WizybotShopifyWidget__online__dot__inner {
  position: absolute;
  background-color: green;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.WizybotShopifyWidget__online__phrase {
  position: relative;
  line-height: 40px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.WizybotShopifyWidget__headder__wave {
  position: absolute;
  width: 102%;
  top: 100%;
  left: 49%;
  transform: translate(-50%, -95%);
}

.WizybotShopifyWidget__email__requirement__outter__close {
  position: absolute;
  width: calc(100vw - 15px);
  height: 0px;
  background-color: #ffffff;
  z-index: 9;
  top: 150px;
  overflow: hidden;
  transition: height 0.8s;
}

.WizybotShopifyWidget__email__requirement__outter__open {
  position: absolute;
  background-color: #ffffff;
  z-index: 9;
  top: 150px;
  overflow: hidden;
  transition: height 0.8s;
}

.WizybotShopifyWidget__email__requirement__inner {
  position: absolute;
  width: calc(100% - 40px);
  height: min(280px, 100vh - 200px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  overflow-y: auto;
}

.WizybotShopifyWidget__email__requirement__inner::-webkit-scrollbar {
  display: none;
}

.WizybotShopifyWidget__email__input__title {
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
}

.WizybotShopifyWidget__email__input__2__outter {
  position: relative;
  width: 100%;
  height: auto;
}

.WizybotShopifyWidget__email__input__2 {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: #fefcff;
  border: 1px solid #8787877b;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.WizybotShopifyWidget__email__input__2:hover {
  outline: none;
  border: 1px solid rgba(5, 101, 255, 0.738);
}

.WizybotShopifyWidget__email__input__2:focus {
  outline: none;
  border: 1px solid rgba(5, 101, 255, 0.944);
}

.WizybotShopifyWidget__email__input__prompt__1 {
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  color: rgb(129, 129, 129);
  margin-bottom: 7px;
  text-align: right;
  width: 100%;
}

.WizybotShopifyWidget__email__checkbox__outter {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
}

.WizybotShopifyWidget__email__input__checkbox__text {
  position: relative;
  padding-left: 6px;
  font-size: 13px;
  line-height: 21px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

input[type="checkbox"]:checked {
  accent-color: #161635;
}

.WizybotShopifyWidget__email__button__outter {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 40px;
}

.WizybotShopifyWidget__email__button {
  position: relative;
  width: auto;
  height: 100%;
  min-width: 60px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  background-color: rgb(5, 102, 255);
  transition: 1s;
}

.WizybotShopifyWidget__email__button:hover {
  background-color: rgb(0, 73, 189);
}

.WizybotShopifyWidget__cart__outter__close {
  position: absolute;
  background-color: #ffffff;
  z-index: 9;
  top: 150px;
  overflow: hidden;
  transition: height 0.8s;
}

.WizybotShopifyWidget__cart__outter__open {
  position: absolute;
  background-color: #ffffff;
  z-index: 9;
  top: 150px;
  overflow: hidden;
  transition: height 0.8s;
}

.WizybotShopifyWidget__cart__outter__products {
  position: relative;
  height: calc(100vh - 250px);
  color: black;
}

.WizybotShopifyWidget__cart__inner__products {
  position: relative;
  padding: 15px;
  height: calc(100vh - 250px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.WizybotShopifyWidget__cart__inner__products::-webkit-scrollbar {
  display: none;
}

.WizybotShopifyWidget__cart__product__outter {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(184, 184, 184);
}

.WizybotShopifyWidget__cart__add__product__outter {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 115px calc(100% - 115px);
}

.WizybotShopifyWidget__cart__add__product__image__outter {
  position: relative;
  width: 115px;
  height: 115px;
  overflow: hidden;
  border-radius: 10px;
}

.WizybotShopifyWidget__cart__add__product__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.WizybotShopifyWidget__cart__add__product__name__outter {
  padding-left: 8px;
}

.WizybotShopifyWidget__cart__add__prouct__name__inner {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: black;
  margin-bottom: 7px;
  width: 90%;
}

.WizybotShopifyWidget__cart__add__prouct__sku__inner {
  color: #5d5d5d;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.WizybotShopifyWidget__cart__add__prouct__quantity__delete {
  position: relative;
  padding-top: 5px;
  display: flex;
}

.WizybotShopifyWidget__cart__add__prouct__delete {
  position: relative;
  margin-left: 10px;
}

.WizybotShopifyWidget__cart__add__prouct__delete__image {
  padding-top: 2.5px;
  height: 35px;
}

.WizybotShopifyWidget__cart__add__product__option__quantity__outter {
  width: 100px;
  display: grid;
  grid-template-columns: 5% 20% 50% 20% 5%;
  border: 2px solid #222251;
  border-radius: 10px;
  margin-left: auto;
}

.WizybotShopifyWidget__cart__add__product__option__quantity__image__outter {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.WizybotShopifyWidget__cart__add__product__option__quantity__image {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.WizybotShopifyWidget__cart__add__product__option__quantity__counter {
  line-height: 24px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  width: 100%;
  line-height: 36px;
  color: #222251;
}

.WizybotShopifyWidget__cart__outter__no__products {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #646464;
  text-align: center;
  font-size: 13px;
}

.WizybotShopifyWidget__cart__inner__estimated__no__products__button {
  position: relative;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 60px;
  height: calc(100% - 10px);
  border-radius: 5px;
  color: #222251;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  background-color: #ffffff;
  transition: 1s;
  border: 2px solid #222251;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.WizybotShopifyWidget__cart__outter__checkout {
  position: relative;
  height: 100px;
  box-shadow: 0px -3px 12px 0px #0000001f;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
}

.WizybotShopifyWidget__cart__outter__estimated {
  position: relative;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  left: 25px;
  width: calc(100% - 50px);
  color: #000;
}

.WizybotShopifyWidget__cart__inner__estimated__button__outter {
  padding-top: 10px;
  position: relative;
  left: 20px;
  width: calc(100% - 40px);
  height: 50px;
}

.WizybotShopifyWidget__cart__inner__estimated {
  position: relative;
  width: 100%;
  font-weight: 200;
}

.WizybotShopifyWidget__cart__inner__estimated__price {
  position: relative;
  width: 100%;
  font-weight: 800;
  text-align: right;
}

.WizybotShopifyWidget__cart__inner__estimated__button {
  position: relative;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 60px;
  height: calc(100% - 10px);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  background: #161635;
  transition: 1s;
  border: 2px solid #222251;
}

.WizybotShopifyWidget__chat__outter {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
}

.WizybotShopifyWidget__chat__outter::-webkit-scrollbar {
  display: none;
}

.WizybotShopifyWidget__chat__message__outter {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.WizybotShopifyWidget__chat__message__inner {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f0f2f7;
  border-radius: 20px;
  line-height: 18px;
  color: black;
  width: auto;
  font-weight: 400;
  font-size: 14px;
  max-width: 70%;
  letter-spacing: -0.02em;
}

.WizybotShopifyWidget__input__outter {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: white;
}

.WizybotShopifyWidget__input__inner {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.WizybotShopifyWidget__send__button__outter {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 11;
}

.WizybotShopifyWidget__chat__input__outter {
  position: relative;
  width: 100%;
  height: auto;
}

.WizybotShopifyWidget__chat__input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: #fefcff;
  border: 1px transparent;
  padding: 10px 50px 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.WizybotShopifyWidget__chat__input:hover {
  outline: none;
  border: 1px transparent;
}

.WizybotShopifyWidget__chat__input:focus {
  outline: none;
  border: 1px transparent;
}

.WizybotShopifyWidget__chat__input::placeholder {
  opacity: 0.5;
  font-weight: 500;
  color: black;
}

.WizybotShopifyWidget__emojis__propaganda__outter {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
}

.WizybotShopifyWidget__emojis__propaganda__inner {
  position: absolute;
  width: 90%;
  left: 50%;
  height: 30px;
  transform: translate(-50%, 0%);
  display: flex;
}

.WizybotShopifyWidget__emojis__outter {
  position: relative;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 100%;
}

.WizybotShopifyWidget__emojis__outter:hover {
  background-color: rgba(130, 177, 230, 0.189);
}

.WizybotShopifyWidget__emojis__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.WizybotShopifyWidget__propaganda__outter {
  margin-left: auto;
  margin-right: 10px;
  height: 30px;
  color: #939394;
  font-size: 9px;
  display: flex;
}

.WizybotShopifyWidget__propaganda__text {
  position: relative;
  height: 30px;
  line-height: 32px;
}

.WizybotShopifyWidget__propaganda__logo__outter {
  position: relative;
  margin-left: 8px;
  height: 30px;
  display: flex;
  opacity: 0.6;
}

.WizybotShopifyWidget__propaganda__logo__image {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  top: 4px;
}

.WizybotShopifyWidget__propaganda__logo__text {
  position: relative;
  height: 30px;
  line-height: 30px;
  color: #161635;
  font-size: 13px;
}

/* General Add2Cart Classes */

.WizybotShopifyAdd2Cart__add__message__outter {
  position: relative;
  width: 85%;
  max-width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.WizybotShopifyAdd2Cart__add__message__inner {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  color: black;
  width: auto;
  font-weight: 200;
  font-size: 14px;
  max-width: calc(100% - 40px);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}

.WizybotShopifyAdd2Cart__add__product__outter {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 85px calc(100% - 85px);
}

.WizybotShopifyAdd2Cart__add__product__image__outter {
  position: relative;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 10px;
}

.WizybotShopifyAdd2Cart__add__product__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.WizybotShopifyAdd2Cart__add__product__name__outter {
  padding-left: 8px;
}

.WizybotShopifyAdd2Cart__add__prouct__name__inner {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: black;
  margin-bottom: 7px;
}

.WizybotShopifyAdd2Cart__add__prouct__sku__inner {
  color: #939394;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.WizybotShopifyAdd2Cart__add__prouct__details__inner {
  color: #1f7279;
  text-decoration: underline;
  cursor: pointer;
}

.WizybotShopifyAdd2Cart__add__product__options__outter__outter {
  position: relative;
  gap: 10px;
  max-width: 100%;
}

.WizybotShopifyAdd2Cart__add__product__option__outter {
  position: relative;
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
  display: block;
}

.WizybotShopifyAdd2Cart__add__product__option__name {
  font-weight: 500;
  font-size: 13px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  line-height: 30px;
  padding-top: 5px;
}

.WizybotShopifyAdd2Cart__add__product__option__variants__outter {
  width: 100%;
}

.WizybotShopifyAdd2Cart__input__select__outter {
  position: relative;
  width: 100%;
  height: auto;
}

.WizybotShopifyAdd2Cart__input__select {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: #fefcff;
  border: 1px solid #8787877b;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

.WizybotShopifyAdd2Cart__input__select:hover {
  outline: none;
  border: 1px solid rgba(5, 101, 255, 0.738);
}

.WizybotShopifyAdd2Cart__input__select:focus {
  outline: none;
  border: 1px solid rgba(5, 101, 255, 0.738);
}

.WizybotShopifyAdd2Cart__quantity__price__outter {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
}

.WizybotShopifyAdd2Cart__add__product__quantity__outter__outter {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.WizybotShopifyAdd2Cart__add__product__quantity__outter {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.WizybotShopifyAdd2Cart__add__product__option__quantity__outter {
  width: 100%;
  display: grid;
  grid-template-columns: 5% 20% 50% 20% 5%;
  border: 2px solid #222251;
  border-radius: 10px;
}

.WizybotShopifyAdd2Cart__add__product__option__quantity__image__outter {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.WizybotShopifyAdd2Cart__add__product__option__quantity__image {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.WizybotShopifyAdd2Cart__add__product__option__quantity__counter {
  line-height: 24px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  width: 100%;
  line-height: 36px;
  color: #222251;
}

.WizybotShopifyAdd2Cart__price__outter {
  position: relative;
  width: 100%;
}

.WizybotShopifyAdd2Cart__price__inner {
  width: 100%;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

.WizybotShopifyAdd2Cart__currency__inner {
  width: 100%;
  font-size: 10px;
  text-align: center;
}

.WizybotShopifyAdd2Cart__discount {
  position: absolute;
  transform: translate(20%, -60%);
  right: 0px;
  top: 0px;
  background-color: #ff0015;
  border-color: #ffffff;
  border-width: 1px;
  border-style: dotted;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
}

.WizybotShopifyAdd2Cart__add__product__buttons__outter__outter {
  position: relative;
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  gap: 10px;
}

.WizybotShopifyAdd2CartSubscription__add__product__buttons__outter__outter {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.WizybotShopifyAdd2Cart__add__product__buttons__outter {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.WizybotShopifyAdd2Cart__add__to__cart__button {
  position: relative;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 60px;
  height: calc(100% - 10px);
  border-radius: 5px;
  color: #222251;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  background-color: #ffffff;
  transition: 1s;
  border: 2px solid #222251;
}

.WizybotShopifyAdd2Cart__add__to__cart__button:disabled {
  color: #a7aaac;
  border: 2px solid #a7aaac;
  cursor: not-allowed;
}

.WizybotShopifyAdd2Cart__buy__now__button {
  position: relative;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 60px;
  height: calc(100% - 10px);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  background: #161635;
  transition: 1s;
  border: 2px solid #222251;
}

.WizybotShopifyAdd2CartSubscription__buy__now__button {
  position: relative;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 60px;
  height: 40px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  background: #161635;
  transition: 1s;
  border: 2px solid #222251;
}

.WizybotShopifyAdd2Cart__add__message__inner__inner {
  font-weight: 400;
}

.WizybotShopifyRecommendationCarousel__outter {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  overflow-x: scroll;
  overflow-y: hide;
}

.WizybotShopifyRecommendationCarousel__outter::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.WizybotShopifyRecommendationCarousel__outter::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.WizybotShopifyRecommendationCarousel__outter::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #222251;
}

.WizybotShopifyRecommendationCarousel__inner {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  color: black;
  width: 100%;
  font-weight: 200;
  font-size: 14px;
  display: flex;
  padding-left: 10px;
}

.WizybotShopifyRecommendationCarousel__product__outter {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  margin-right: 20px;
  border-radius: 10px;
}

.WizybotShopifyRecommendationCarousel__add__product__outter {
  position: relative;
  width: 250px;
  display: grid;
  grid-template-columns: 85px calc(100% - 85px);
}

.WizybotShopifyRecommendationCarousel__add__product__image__outter {
  position: relative;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 10px;
}

.WizybotShopifyRecommendationCarousel__add__collection__image__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  width: 100%;
}

.WizybotShopifyRecommendationCarousel__add__collection__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.WizybotShopifyRecommendationCarousel__add__product__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.WizybotShopifyRecommendationCarousel__add__product__name__outter {
  padding-left: 8px;
}

.WizybotShopifyRecommendationCarousel__add__prouct__name__inner {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: black;
  margin-bottom: 7px;
}

.WizybotShopifyRecommendationCarousel__add__prouct__sku__inner {
  color: #000000;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.WizybotShopifyRecommendationCarousel__add__prouct__details__inner {
  color: #1f7279;
  text-decoration: underline;
  cursor: pointer;
}

/* Animations */

.rise-shake {
  animation: rise-shake 0.83s infinite;
}

@keyframes rise-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(17deg);
  }
  55% {
    transform: translateY(-9px) rotate(-17deg);
  }
  65% {
    transform: translateY(-9px) rotate(17deg);
  }
  75% {
    transform: translateY(-9px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.loader {
  width: 23px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #e3000000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

/* Final de lo que ya esta purgado */

.ShopifyWidget__cart__item__outter {
  position: relative;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background-color: #b6bfd1;
  border-radius: 10px;
}

.ShopifyWidget__cart__item__image__outter {
  width: 100%;
  height: 100%;
}

.ShopifyWidget__cart__item__image {
  width: 100%;
  border-radius: 10px;
}

.ShopifyWidget__cart__item__info__outter {
  width: 100%;
}

.ShopifyWidget__cart__item__info__inner {
  width: 100%;
  text-align: center;
}

.ShopifyWidget__cart__item__remove__outter {
  width: 100%;
}

/*  Product Card Extra UI COMPONNENT */
.ProductCardLiveChat__outter {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: inline-block;
  margin: 0 0 10px 0;
  width: 100%;
}

.ProductCardLiveChat__image__outter {
  height: 80px;
}

.ProductCardLiveChat__image {
  width: 70px;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.ProductCardLiveChat__inner {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ProductCardLiveChat__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProductCardLiveChat__title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.ProductCardLiveChat__price {
  font-size: 14px;
  color: #000;
}

/*  Product Card Extra UI COMPONNENT */
.ProductCart__outter {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: inline-block;
  margin: 0 0 10px 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: black;
}

.ProductCart__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.ProductCart__item {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.ProductCart__item__details {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.ProductCart__item__details__title {
  font-weight: 800;
}

.ProductCart__item__image {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ProductCart__item__image img {
  width: 70px;
  height: 80px;
  object-fit: contain;
  border-radius: 5px;
}

.ProductCart__item__quantity {
  display: flex;
  justify-content: space-between;
}

.ProductCart__item__quantity__total {
  font-weight: 800;
  font-size: 16px;
}

.ProductCart__total {
  display: flex;
  justify-content: space-between;
}

.ProductCart__buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.ProductCart__button__primary {
  width: 100%;
  background-color: #161635;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.ProductCart__button__primary:hover {
  background-color: #0e0e23;
}

.ProductCart__button__secondary {
  width: 100%;
  background-color: #ffffff;
  color: #161635;
  border: 2px solid #161635;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.ProductCart__button__secondary:hover {
  background-color: #161635;
  color: white;
}

.ChatMedia__outter {
  position: relative;
  max-width: 340px;
  /* min-height: 200px; */
  display: flex;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.ChatMedia__inner {
  position: relative;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
  color: black;
  width: 80%;
  font-weight: 200;
  font-size: 14px;
  max-width: calc(100% - 20px);
  min-width: 50px;
  min-height: 50px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ChatMedia__image {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  cursor: zoom-in;
  border-radius: 20px;
  object-fit: "contain";
}

.WizybotShopifyWidget__data__invalid__prompt {
  font-size: 10px;
  color: #ff0015;
}

/* PHONE INPUT STYLES */
.react-international-phone-country-selector {
  position: relative;
}

.react-international-phone-country-selector-button {
  display: flex;
  height: var(--react-international-phone-height, 36px);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid
    var(
      --react-international-phone-country-selector-border-color,
      var(--react-international-phone-border-color, gainsboro)
    );
  margin: 0;
  appearance: button;
  -webkit-appearance: button;
  background-color: var(
    --react-international-phone-country-selector-background-color,
    var(--react-international-phone-background-color, white)
  );
  cursor: pointer;
  text-transform: none;
  user-select: none;
  overflow: visible;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: #fefcff;
  border: 1px solid #8787877b;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.react-international-phone-country-selector-button:hover {
  background-color: var(
    --react-international-phone-country-selector-background-color-hover,
    whitesmoke
  );
}

.react-international-phone-country-selector-button--hide-dropdown {
  cursor: auto;
}

.react-international-phone-country-selector-button--hide-dropdown:hover {
  background-color: transparent;
}

.react-international-phone-country-selector-button__button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-international-phone-country-selector-button__flag-emoji {
  margin: 0 4px;
}

.react-international-phone-country-selector-button__flag-emoji--disabled {
  opacity: 0.75;
}

.react-international-phone-country-selector-button__dropdown-arrow {
  border-top: var(--react-international-phone-country-selector-arrow-size, 4px)
    solid var(--react-international-phone-country-selector-arrow-color, #777);
  border-right: var(
      --react-international-phone-country-selector-arrow-size,
      4px
    )
    solid transparent;
  border-left: var(--react-international-phone-country-selector-arrow-size, 4px)
    solid transparent;
  margin-right: 4px;
  transition: all 0.1s ease-out;
}

.react-international-phone-country-selector-button__dropdown-arrow--active {
  transform: rotateX(180deg);
}

.react-international-phone-country-selector-button__dropdown-arrow--disabled {
  border-top-color: var(
    --react-international-phone-disabled-country-selector-arrow-color,
    #999
  );
}

.react-international-phone-country-selector-button--disabled {
  background-color: var(
    --react-international-phone-disabled-country-selector-background-color,
    var(--react-international-phone-disabled-background-color, whitesmoke)
  );
  cursor: auto;
}

.react-international-phone-country-selector-button--disabled:hover {
  background-color: var(
    --react-international-phone-disabled-country-selector-background-color,
    var(--react-international-phone-disabled-background-color, whitesmoke)
  );
}

.react-international-phone-flag-emoji {
  width: var(--react-international-phone-flag-width, 24px);
  height: var(--react-international-phone-flag-height, 24px);
  box-sizing: border-box;
}

.react-international-phone-country-selector-dropdown {
  position: absolute;
  z-index: 1;
  top: var(--react-international-phone-dropdown-top, 44px);
  left: var(--react-international-phone-dropdown-left, 0);
  display: flex;
  width: 300px;
  max-height: 80px;
  flex-direction: column;
  padding: 4px 0;
  margin: 0;
  background-color: var(
    --react-international-phone-dropdown-item-background-color,
    var(--react-international-phone-background-color, white)
  );
  box-shadow: var(
    --react-international-phone-dropdown-shadow,
    2px 2px 16px rgba(0, 0, 0, 0.25)
  );
  color: var(
    --react-international-phone-dropdown-item-text-color,
    var(--react-international-phone-text-color, #222)
  );
  list-style: none;
  overflow-y: scroll;
}

.react-international-phone-country-selector-dropdown__preferred-list-divider {
  height: 1px;
  border: none;
  margin: var(
    --react-international-phone-dropdown-preferred-list-divider-margin,
    0
  );
  background: var(
    --react-international-phone-dropdown-preferred-list-divider-color,
    var(--react-international-phone-border-color, gainsboro)
  );
}

.react-international-phone-country-selector-dropdown__list-item {
  display: flex;
  min-height: var(--react-international-phone-dropdown-item-height, 28px);
  box-sizing: border-box;
  align-items: center;
  padding: 2px 8px;
}

.react-international-phone-country-selector-dropdown__list-item-flag-emoji {
  margin-right: 8px;
}

.react-international-phone-country-selector-dropdown__list-item-country-name {
  overflow: hidden;
  margin-right: 8px;
  font-size: var(--react-international-phone-dropdown-item-font-size, 14px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(--react-international-phone-dropdown-item-dial-code-color, gray);
  font-size: var(--react-international-phone-dropdown-item-font-size, 14px);
}

.react-international-phone-country-selector-dropdown__list-item:hover {
  background-color: var(
    --react-international-phone-selected-dropdown-item-background-color,
    var(
      --react-international-phone-selected-dropdown-item-background-color,
      whitesmoke
    )
  );
  cursor: pointer;
}

.react-international-phone-country-selector-dropdown__list-item--selected,
.react-international-phone-country-selector-dropdown__list-item--focused {
  background-color: var(
    --react-international-phone-selected-dropdown-item-background-color,
    whitesmoke
  );
  color: var(
    --react-international-phone-selected-dropdown-item-text-color,
    var(--react-international-phone-text-color, #222)
  );
}

.react-international-phone-country-selector-dropdown__list-item--selected
  .react-international-phone-country-selector-dropdown__list-item-dial-code,
.react-international-phone-country-selector-dropdown__list-item--focused
  .react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(
    --react-international-phone-selected-dropdown-item-dial-code-color,
    var(--react-international-phone-dropdown-item-dial-code-color, gray)
  );
}

.react-international-phone-country-selector-dropdown__list-item--focused {
  background-color: var(
    --react-international-phone-selected-dropdown-item-background-color,
    var(
      --react-international-phone-selected-dropdown-item-background-color,
      whitesmoke
    )
  );
}

.react-international-phone-dial-code-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border: 1px solid
    var(
      --react-international-phone-dial-code-preview-border-color,
      var(--react-international-phone-border-color, gainsboro)
    );
  margin-right: -1px;
  background-color: var(
    --react-international-phone-dial-code-preview-background-color,
    var(--react-international-phone-background-color, white)
  );
  color: var(
    --react-international-phone-dial-code-preview-text-color,
    var(--react-international-phone-text-color, #222)
  );
  font-size: var(
    --react-international-phone-dial-code-preview-font-size,
    var(--react-international-phone-font-size, 13px)
  );
}

.react-international-phone-dial-code-preview--disabled {
  background-color: var(
    --react-international-phone-dial-code-preview-disabled-background-color,
    var(--react-international-phone-disabled-background-color, whitesmoke)
  );
  color: var(
    --react-international-phone-dial-code-preview-disabled-text-color,
    var(--react-international-phone-disabled-text-color, #666)
  );
}

.react-international-phone-input-container {
  display: flex;
}

.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  border-radius: var(--react-international-phone-border-radius, 4px);
  margin-right: -1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.react-international-phone-input-container .react-international-phone-input {
  /* overflow: visible;
  width: 100%;
  height: var(--react-international-phone-height, 36px);
  box-sizing: border-box;
  padding: 0 8px;
  border: 1px solid var(--react-international-phone-border-color, gainsboro);
  border-radius: var(--react-international-phone-border-radius, 4px);
  margin: 0;
  background-color: var(--react-international-phone-background-color, white);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: var(--react-international-phone-text-color, #222);
  font-family: inherit;
  font-size: var(--react-international-phone-font-size, 13px); */
  overflow: visible;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: #fefcff;
  border: 1px solid #8787877b;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.react-international-phone-input-container
  .react-international-phone-input:focus {
  outline: none;
}

.react-international-phone-input-container
  .react-international-phone-input--disabled {
  background-color: var(
    --react-international-phone-disabled-background-color,
    whitesmoke
  );
  color: var(--react-international-phone-disabled-text-color, #666);
}

/* General AddMedia Classes */
.WizybotAddMedia__outter {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.WizybotAddMedia__inner {
  border: 2px solid #222251;
  background: white;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
}

.WizybotAddMedia__header h3 {
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 600;
  color: #161635;
}

.WizybotAddMedia__header p {
  margin: 0 0 16px 0;
  font-size: 13px;
  color: #666;
  font-weight: 200;
}

.WizybotAddMedia__upload__zone {
  text-align: center;
  padding: 20px;
  border: 2px dashed #222251;
  border-radius: 10px;
  margin-bottom: 16px;
  background: #f9f9fb;
}

.WizybotAddMedia__upload__button {
  display: inline-block;
  background: #161635;
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 1s;
  border: 2px solid #222251;
}

.WizybotAddMedia__upload__button:hover {
  background: #222251;
}

.WizybotAddMedia__info {
  margin: 10px 0 0 0;
  font-size: 12px;
  color: #999;
  font-weight: 200;
}

.WizybotAddMedia__preview {
  margin-top: 16px;
}

.WizybotAddMedia__preview h4 {
  margin: 0 0 12px 0;
  font-size: 14px;
  font-weight: 600;
  color: #161635;
}

.WizybotAddMedia__preview__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 8px;
  margin-bottom: 16px;
}

.WizybotAddMedia__preview__item {
  position: relative;
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #222251;
}

.WizybotAddMedia__preview__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.WizybotAddMedia__remove__button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(22, 22, 53, 0.9);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 0.3s;
}

.WizybotAddMedia__remove__button:hover {
  background: #222251;
}

.WizybotAddMedia__upload__submit__button {
  width: 100%;
  background: #161635;
  color: rgb(255, 255, 255);
  border: 2px solid #222251;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 1s;
}

.WizybotAddMedia__upload__submit__button:hover:not(:disabled) {
  background: #222251;
}

.WizybotAddMedia__upload__submit__button:disabled {
  background: #ccc;
  cursor: not-allowed;
  border-color: #999;
}

.WizybotAddMedia__success {
  text-align: center;
  padding: 20px;
  background: #f9f9fb;
  border-radius: 10px;
}

.WizybotAddMedia__success h3 {
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 600;
  color: #161635;
}

.WizybotAddMedia__success p {
  margin: 0;
  font-size: 13px;
  color: #666;
  font-weight: 200;
}

.WizybotMandatoryForm__inner {
  position: absolute;
  width: calc(100% - 40px);
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
}

.WizybotMandatoryForm__inputs__scroll {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.WizybotMandatoryForm__inputs__scroll::-webkit-scrollbar {
  display: none;
}

.WizybotMandatoryForm__inputs__center {
  margin: auto 0;
}

.WizybotMandatoryForm__footer {
  flex-shrink: 0;
  background-color: #ffffff;
}

/* actions menu animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
